<div class="product-slider ">
    <div class="regular-gallery" data-product-media-size="{{ product_media.size }}">
      {% for media in product_media %}
        {{ media | image_url: width: 1600 | image_tag:loading:'lazy', alt: media.alt }}
      {% endfor %}
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        {% for media in product_media %}
          <div data-slide-index="{{forloop.index }}" class="swiper-slide">
            <div class="slide-container">
              {{ media | image_url: width: 600 | image_tag:loading:'lazy', alt:media.alt }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
</div>
<script>
  const swiper_product = new Swiper('.product-slider .swiper',{
    speed:400,
    slidesPerView: 1,
    spaceBetween:10,
    loop:true,
    centeredSlides:false,
    pagination:{
      el:'.swiper-pagination',
      clickable:true
    }
  })
</script>