{% liquid 

    assign on_york_url = false
    assign on_work_url = false
    assign on_shop_url = false

    if request.path contains settings.york_url and settings.york_url != blank
        assign on_york_url = true
    endif
    if request.path contains settings.work_url and settings.work_url != blank
        assign on_work_url = true
    endif
     if request.path contains settings.shop_url and settings.shop_url != blank or request.path contains '/collections/' or request.path contains '/products/'
        assign on_shop_url = true
    endif
    if request.path contains '/collections/' or request.path contains '/products/'
        assign on_shop_url = true
    endif 

-%}

<a href="{{ settings.york_url }}" class="header__york-text {% if on_york_url %} active {% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 437.6 191">
        <path d="M85.4,151.8c0,1.1-.9,1.9-1.9,1.9h-29.3c-1.1,0-1.9-.9-1.9-1.9l.6-47.4L2.5,5.9c-.4-.9.2-1.7,1.1-1.7h33.3c1.1,0,2.3.6,2.8,1.7l30.3,68.8L101,5.9c.4-1.1,1.7-1.7,2.8-1.7h30.3c.9,0,1.5.9,1.1,1.7l-50.4,98.4.6,47.4v.1Z"/>
        <path d="M168.3,156.5c-35.9,0-56.6-22.4-56.6-57.4s20.7-58.1,56.6-58.1,56.2,22.4,56.2,57.4-20.3,58.1-56.2,58.1ZM168.3,135.1c15.8,0,23.3-10.9,23.3-36.1s-7.7-36.7-23.5-36.7c-16.2.2-23.7,12.2-23.7,36.9s7.9,35.9,23.9,35.9Z"/>
        <path d="M234,153.7c-1.1,0-1.9-.9-1.9-1.9l.9-53.2-.9-53c0-1.1.9-1.9,1.9-1.9h28.2c1.1,0,1.9.9,1.9,1.9l-.9,16.7c8.5-13,23.3-19.4,39.3-19.4s3.4.2,4.9.4c1.1.2,1.9,1.3,1.9,2.3v19.9c0,1.1-.9,1.7-1.9,1.7-1.3-.2-2.8-.2-4.1-.2-22.6,0-39.5,12.6-39.3,37.8v47c0,1.1-.9,1.9-1.9,1.9h-28.2.1Z"/>
        <path d="M370.7,130.6l-13.7-24.3-10.5,13.2.2,32.2c0,1.1-.9,1.9-1.9,1.9h-28c-1.1,0-1.9-.9-1.9-1.9l.9-72.8-.9-72.8c0-1.1.9-1.9,1.9-1.9h28c1.1,0,1.9.9,1.9,1.9l-.6,72.2v6.6l31.8-39.7c.9-.9,2.1-1.5,3.2-1.5h31.4c.9,0,1.1.9.6,1.5l-34,38,39.7,68.8c.4.9-.2,1.7-1.1,1.7h-33.3c-1.1,0-2.3-.6-2.8-1.7l-11.1-21.4h.2Z"/>
  </svg>
</a>
<a href="{{ settings.work_url }}" class="header__work-text {% if on_work_url %} active {% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 530.8 190">
        <path d="M140.4,152.9c-1.1,0-2.1-.9-2.3-1.9l-23.6-102.6-21.2,102.6c-.2,1.1-1.3,1.9-2.3,1.9h-36.3c-1.1,0-2.1-.9-2.3-1.9L18.2,6.1c-.2-1.1.6-1.9,1.5-1.9h29.1c1.1,0,2.1.9,2.3,1.9l23.4,112.8L96.8,6.1c.2-1.1,1.3-1.9,2.3-1.9h33.8c1.1,0,2.1.9,2.3,1.9l23.6,114.5L182,6.1c.2-1.1,1.3-1.9,2.3-1.9h27c1.1,0,1.7.9,1.5,1.9l-34.8,144.9c-.2,1.1-1.3,1.9-2.3,1.9h-35.3Z"/>
        <path d="M260.8,155.7c-35.7,0-56.3-22.3-56.3-57.1s20.6-57.8,56.3-57.8,55.9,22.3,55.9,57.1-20.2,57.8-55.9,57.8ZM260.8,134.4c15.7,0,23.2-10.8,23.2-35.9s-7.6-36.5-23.4-36.5c-16.1.2-23.6,12.1-23.6,36.8s7.9,35.7,23.8,35.7v-.1Z"/>
        <path d="M326.2,152.9c-1.1,0-1.9-.9-1.9-1.9l.9-52.9-.9-52.7c0-1.1.9-1.9,1.9-1.9h28c1.1,0,1.9.8,1.9,1.9l-.8,16.6c8.5-13,23.2-19.3,39.1-19.3s3.4.2,4.9.4c1.1.2,1.9,1.3,1.9,2.3v19.8c0,1.1-.9,1.7-1.9,1.7-1.3-.2-2.8-.2-4-.2-22.5,0-39.3,12.5-39.1,37.6v46.7c0,1.1-.8,1.9-1.9,1.9h-28.1Z"/>
        <path d="M462.2,129.9l-13.6-24.2-10.4,13.2.2,32.1c0,1.1-.9,1.9-1.9,1.9h-27.8c-1.1,0-1.9-.9-1.9-1.9l.9-72.4-.9-72.4c0-1.1.9-1.9,1.9-1.9h27.8c1.1,0,1.9.9,1.9,1.9l-.6,71.8v6.6l31.7-39.5c.8-.8,2.1-1.5,3.2-1.5h31.2c.9,0,1.1.8.6,1.5l-33.8,37.8,39.5,68.4c.4.8-.2,1.7-1.1,1.7h-33.1c-1.1,0-2.3-.6-2.8-1.7l-11-21.2v-.2Z"/>
    </svg>
</a>
<a href="{{ settings.shop_url }}" class="header__york-text {% if on_shop_url %} active {% endif %}" style="margin-top: 2%;">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 500.042 190">
        <path d="M87.773,156.29c-19.128,0-35.305-3.917-47.014-12.05-6.62-4.598-11.811-10.544-15.3-17.892-2.95-6.214-4.682-13.431-5.03-21.682,0-1.062.85-1.912,1.912-1.912h29.954c1.062,0,1.912.85,2.125,1.912,2.124,16.571,9.56,27.405,33.99,27.405,19.332,0,29.954-5.736,29.954-19.757,0-33.566-94.962-7.01-94.962-66.07,0-7.343,1.509-13.962,4.429-19.727,3.032-5.987,7.587-11.053,13.554-15.055C51.448,4.715,65.527.995,83.099.995c13.065,0,24.607,1.882,34.165,5.915,7.965,3.361,14.554,8.216,19.5,14.719s8.248,14.657,9.643,24.615c0,1.062-.637,1.912-1.699,1.912h-30.166c-1.063,0-1.912-.85-2.125-1.912-1.699-13.383-12.534-20.819-30.592-20.819-15.295,0-26.342,5.311-26.342,17.632,0,5.935,3.353,9.854,8.803,12.691,5.903,3.074,14.267,4.879,23.491,6.605,17.06,3.192,37.065,6.112,49.899,16.284,7.984,6.328,13.194,15.463,13.194,29.215,0,8.596-1.81,16.112-5.236,22.497-3.745,6.98-9.42,12.607-16.77,16.813-10.517,6.018-24.463,9.127-41.09,9.127Z"/>
        <path d="M213.322,64.303c-10.197,0-21.244,7.86-24.855,23.369l.849,63.307c0,1.062-.849,1.912-1.912,1.912h-27.83c-1.062,0-1.912-.85-1.912-1.912l.85-72.655-.85-72.23c0-1.062.85-1.912,1.912-1.912h27.83c1.063,0,1.912.85,1.912,1.912l-.637,49.499c7.648-9.772,18.695-14.659,33.141-14.659,24.643,0,39.727,14.659,39.09,46.737v23.369l.637,39.939c0,1.062-.85,1.912-1.912,1.912h-28.68c-1.062,0-1.912-.85-1.912-1.912l.637-39.514-.213-27.617c-.212-13.172-7.435-19.545-16.145-19.545Z"/>
        <path d="M324.212,155.652c-35.69,0-56.297-22.307-56.297-57.147s20.607-57.784,56.297-57.784,55.872,22.307,55.872,57.147-20.182,57.784-55.872,57.784ZM324.212,134.408c15.721,0,23.156-10.835,23.156-35.903,0-24.643-7.648-36.54-23.369-36.54-16.145.212-23.58,12.109-23.58,36.753s7.86,35.69,23.793,35.69Z"/>
        <path d="M451.035,155.015c-13.172,0-23.794-4.674-31.229-13.384l.425,45.463c0,1.063-.849,1.912-1.912,1.912h-28.679c-1.063,0-1.913-.849-1.913-1.912l.637-78.603-.637-63.095c0-1.062.85-1.912,1.913-1.912h28.467c1.062,0,1.912.85,1.912,1.912l-.637,10.835c7.648-9.348,18.482-14.871,32.291-14.871,31.016,0,47.375,24.643,47.375,56.509,0,31.654-18.27,57.147-48.012,57.147ZM442.112,133.558c16.146,0,24.431-11.684,24.431-33.991,0-24.218-8.285-36.539-23.794-36.539s-23.793,11.684-24.005,34.416c-.213,23.156,8.072,36.115,23.368,36.115Z"/>
    </svg>
</a>
