<a class="yws-tile" href="{{ tile_link }}">
    <div class="img-overlay"></div>
    <img src="{{ img |  img_url: 'master' }}" alt="YWS Image Tile">
    <div class="yws-tile-text">
        {% if title != blank %}
            <div class="yws-tile-title">{{ title }}</div>
        {% endif %}
        {% if subtitle != blank %}
            <div class="yws-tile-subtitle">{{ subtitle }}</div>
        {% endif %}
    </div>
</a>